{% extends "base.html" %} {% block title %}Sources{% endblock %} 
{% block content %}
<body>
    <hr>
    <h1>Sources</h1>
    <hr>
    <p><sup>1</sup>NASA Kepler and K2 Missions Overview: https://www.nasa.gov/mission_pages/kepler/overview/index.html
    <br>
    <sup>2</sup>Kepler Objects of Interest Data: https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=cumulative
    <br>
    <sup>3</sup>K2 Planets and Candidates Data: https://exoplanetarchive.ipac.caltech.edu/cgi-bin/TblView/nph-tblView?app=ExoTbls&config=k2pandc</p>
</body>
{% endblock %}